<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历史今天</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <style>
        form{
            margin-top: 10px;
            margin-left: 10px;
        }
    </style>
</head>
<body>
<form action="" method="post" class="form-horizontal">
    <div class="form-inline">
        <input type="text" name="m_and_d" placeholder="月份和天数以空格隔开" class="form-control" >
        <button type="submit" class="btn btn-default">查询</button>
    </div>
</form>
</body>
</html>