<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP地址定位</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <style>
        form{
            margin: 10px;
        }
    </style>
</head>
<body>
<form action="" method="post" class="form-horizontal">
    <div class="form-inline">
        <input type="text" name="ip" placeholder="请输入ip地址" class="form-control">
        <button type="submit" class="btn btn-default">查询</button>
    </div>
</form>
</body>
</html>